<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black; color: white; font-size: 20px; font-family: Arial;">
    
    <div>
        Welcome to [ R & B Market ] – where buyers and sellers connect, discover, and thrive.<br>
        At [R & B Market], we believe in the power of connection. Our platform was created <br> to bridge the gap between passionate sellers and curious buyers by offering a secure, easy-to-use marketplace built for <br>everyone—from small business owners and independent creators to savvy shoppers and niche collectors.
    </div>




    <div class="w-1/3">
            <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>

            <ul class="space-y-2">
                <li><a href="home.html" class="text-lg text-teal-500 hover:text-teal-700">Home</a></li>
                <li><a href="contact.html" class="text-lg text-teal-500 hover:text-teal-700">Contact</a></li>
                <li><a href="privacy policy.html" class="text-lg text-teal-500 hover:text-teal-700">Privacy policy</a></li>
                <li><a href="term of use.html" class="text-lg text-teal-500 hover:text-teal-700">Term of use</a></li>
            </ul>
        </div>`


        
</body>
</html> 