<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black;color: white;">
    
    <h1 style="background-color: blue;color: white;">
        Contact
    </h1>


<div class="w-1/3">
            <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>

            <ul class="space-y-2">
                <li><a href="home.html" class="text-lg text-teal-500 hover:text-teal-700">Home</a></li>
                <li><a href="about.html" class="text-lg text-teal-500 hover:text-teal-700">About</a></li>
                <li><a href="privacy policy.html" class="text-lg text-teal-500 hover:text-teal-700">Privacy policy</a></li>
                <li><a href="term of use.html" class="text-lg text-teal-500 hover:text-teal-700">Term of use</a></li>
            </ul>
        </div>

        <h3>Phone : 07058005618 , 07048139023 </h3>
        <h3>Adress : ikeja, Obakran-underbridge</h3>
        <h3>E-mail: raphealjunior7@gmail.com , </h3>
</body>
</html>
        